@font-face {
  font-family: 'MyFont';
  src: url('/fonts/JacquardaBastarda9-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MyFontBody';
  src: url('/fonts/Tiny5-Regular.ttf') format('truetype');
}

body {
  font-family: 'MyFont', sans-serif;
}

/* background */
html,body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}


#background{
  margin: 2rem;
  padding: .2vh;
  /* border: 2px solid whitesmoke;    */
  box-shadow: 0 0 0 2px #BCC8C0;
  width: calc(100% - 4rem); 
  box-sizing: border-box;  
  position: relative;
  /* overflow: hidden; */
  z-index: 0;
}



.corner {
  width: 5vw;
  height: 8.5vh;
  background-color: black;
  position: absolute;
  border: 2px solid #BCC8C0;
  z-index: 1;
}

.top-left {
  top: -2px;
  left: -2px;
  border-color: black #BCC8C0 #BCC8C0 black;
}

.top-right {
  top: -2px;
  right: -2px;
  border-color: black black  #BCC8C0 #BCC8C0;
}

.bottom-left {
  bottom: -2px;
  left: -2px;
  border-color: #BCC8C0 #BCC8C0 black black;
}

.bottom-right {
  bottom: -2px;
  right: -2px;
  border-color:  #BCC8C0 black black #BCC8C0 ;
}

.star{
  filter: drop-shadow(2px 2px 7px rgba(188, 200, 192, 0.3))
}
.star svg {
  transform-origin: center;
  transform-box: fill-box; /* or view-box */
}

.star#one {
  position: relative;
  top: 2rem;
  right: 2rem;
  transform:rotate(30deg);
}

/* navbar */
#navbar {
  margin-top: 2rem;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  border: 0.2vh solid #BCC8C0;
  padding: 1rem;
}

.nav-items {
  display: flex;
  gap: 2rem;
}

.nav-item {
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
}

/* logo */

#logo-container {
  width: 50vw;
  margin: 0 auto; /* center horizontally */
  z-index: 5;
  height: 10vh;
}

#logo-items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  height: 22vh;
  top: -1.5rem
}

#stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#first.logo-item {
  color: black;
  text-shadow:
  3.5px 0 #8BAAAD,
  -3.5px 0 #8BAAAD,
  0 3.5px #8BAAAD,
  0 -3.5px #8BAAAD;
  font-size: 6rem;
  z-index: 1;
  letter-spacing: 3px;
}

#last.logo-item {
  color: black;
  text-shadow:
  3.5px 0 #BCC8C0,
  -3.5px 0 #BCC8C0,
  0 3.5px #BCC8C0,
  0 -3.5px #BCC8C0;
  font-size: 5rem;
  position: relative;
  top: -5rem;
  margin-top: 0; /* adjust this for overlap */
  z-index: 2;
}

#ex.logo-item {
  position: relative;
  top: -2rem;
  color: black;
  text-shadow:
  3.5px 0 #8F5E72,
  -3.5px 0 #8F5E72,
  0 3.5px #8F5E72,
  0 -3.5px #8F5E72;
  font-size: 7rem;
  margin-left: 1rem;
  align-self: flex-end; 
  transform: scaleY(1.4); /* stretches height */
  transform-origin: top;
  padding: 0%
}
